@charset "utf-8";
body{
    background-color: rgb(57, 177, 224);
    text-align: center;
    color: black;
}
h1 {
    color: white;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}
p {
    padding: 10px;
}
input {
    padding: 2px;
}
div {
    border-radius: 20px;
    margin: 10px;
    background-color: white;
   
}
div#p {
    box-shadow: 1px 2px 5px 0px black;
}
option {
    
}
option {
    color: black;
}
select {
    color: black;
}