@charset "utf-8";
* {
    font-size: 30px;
   
}
body {
  background-image: linear-gradient(to right, rgb(69, 69, 199), rgb(25, 25, 194));
 
}

.container {
    background-color: rgb(71, 125, 240);
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgb(2, 42, 78);
    width: 800px;
    height: 500px;
    border: 1px solid black;
    color: rgb(0, 0, 0);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}


h1 {
   font-size: 80px;
    text-align: center;
}
#res {
    text-indent:10px;
}
p {
    margin: 0px;
    font-size: 50px;
   text-indent:10px;
   
}

input {
    
    cursor: pointer;
    margin: 4px;
}

