body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra {
    width: 400px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.container {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}
