@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}


/* -------------------scroll bar ------------------ */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(64, 57, 57);
    border-radius: 0px;
}


/* ------------------------------------- */

header {
    background-color: rgb(56, 53, 53);
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    font-family: poppins;
    z-index: 1;
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;

}

a:hover {

    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    transition: 0.3s;

}

.login a:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.27);
    /* border-bottom: 1px solid white; */
    transition: 0.4s;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {

    display: flex;
    list-style: none;
    font-size: 25px;

}

li {
    border-bottom: 0px solid white;
    letter-spacing: 3px;
    margin-left: 32px;
}

li:hover {
    transition: 0.3s;
    scale: 1.03;
}

.logo {
    box-sizing: border-box;
    width: 145px;
    position: absolute;
    left: 35px;
    font-size: 2em;
}

div.login {
    position: absolute;
    display: flex;
    padding: 10px;
    right: 50px;
}

h3 {
    padding: 10px;
}

/* Estilo da barra */
.bar {
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.6s ease;
}


.login {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;

}


.login h3 {
    margin: 0 20px;
    position: relative;
    z-index: 1;
}

/* ---------------- */

/* -----------------Section#1------------------------------- */
main {}

section#s1 {
    text-align: justify;
    font-family: poppins;
    height: 770px;

    overflow: hidden;
    position: relative;

}


.carro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 620px;
    margin-top: 50px;
}

.carro2 {}

img#imgc1 {}


img#imgc2 {
    width: 789px;
    height: 882px;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    clip-path: polygon(35% 0, 117% 0, 100% 100%, 20% 100%, 0 80%);

}





#s1 h1 {
    text-align: center;
    font-size: 3.5em;



}

#s1 p {
    text-align: center;
    font-size: 1.5em;
}



/* -------------------------Section#2------------------------------ */
section#s2 {
    width: 100%;
    height: 1150px;

}


section#s2 h2 {
    font-family: poppins;
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    padding: 14px;
    font-size: 2.5em;
    background-color: rgb(218, 99, 8);
    top: 45px;
}


.container {
    background-color: rgb(56, 53, 53);
    height: 300px;
    text-align: center;

}

.cb {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15px;

}

div.cb p {
    color: rgb(255, 255, 255);
    position: relative;
    right: 138px;
    top: 115px;
}

/* ------- */
p#pf {
    right: 120px;
}

p#ps {
    right: 145px;
}

/* --------*/
.bolotas {
    display: inline-block;
    position: relative;
    top: 50px;
    margin-right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;

}

.bolotas:hover {
    transition: 0.3s;
    transform: scale(1.1);




}

.container p {
    color: rgb(255, 255, 255);


}


.ipt {
    margin-top: 50px;
    text-align: center;
}


input {

    height: 24px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 20px;
    width: 550px;
    background-color: rgb(50, 47, 47);
    color: white;
}

.material-symbols-outlined {
    position: relative;
    color: white;
    top: 7px;
    right: 45px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

div.cp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-top: 100px;
}

.peças {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    margin: 50px;
    background-color: rgb(56, 53, 53);

}

.peças p {
    color: rgb(0, 0, 0);
    position: relative;
    top: 190px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

/* --------------------------------Section#3--------------------------------- */

section#s3 {

    color: white;
    padding: 0px;
    height: 520px;
    background-color: rgb(47, 46, 46);



}

.ds3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 400px;
    background-color: rgb(218, 99, 8);
    margin-top: 10px;
    margin-bottom: 20px;

}

div.ds3 h2 {
    font-family: poppins;
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    padding: 14px;
    font-size: 2.5em;
    background-color: rgb(218, 99, 8);
    top: 45px;
}


.ds3-item {

    padding: 20px;
    height: 100%;
    width: 30%;
    box-sizing: border-box;
}

#s3 h1 {
    padding: 0px;
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
    font-family: poppins;

}

#s3 h2 {
    top: 10px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;

}

#s3 p {

    color: rgba(255, 255, 255, 0.897);
    position: relative;

    font-size: 2em;
    text-align: center;

}

/* ----------------------------footer-------------------------------------- */
footer {
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: white;
    height: 1300px;
    background-color: rgb(255, 255, 255);
}

.barra {
    border-radius: 20px;
    width: 240px;
    height: 4px;
    background-color: rgb(128, 91, 39);
    margin-bottom: 15px;
}

.barra2 {
    border-radius: 20px;
    width: 240px;
    height: 4px;
    background-color: rgb(128, 91, 39);
    margin-bottom: 15px;
}

/* ---------------------section 1------------------- */

/* ---------------------div 1------------------- */
div.sf1 {
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
}



div.d1s1 {
    margin-top: 10px;
    font-size: 30px;
    width: 500px;
    height: 500px;

}

div.d1s1 h1 {
    color: black;
    font-size: 35px;
    text-indent: 10px;
}

div.d1s1 h2 {
    font-size: 24px;
    color: black;


}

div.d1s1 h3 {
    width: 230px;
    font-size: 24px;
    color: black;


}

div.d1s1 p {

    color: black;


}

div.d1s1 a {

    color: black;
    color: rgba(0, 0, 255, 0.718);

}


/* ---------------------div 2------------------- */


div.d2s1 {
    margin-top: 10px;
    font-size: 30px;
    width: 500px;
    height: 500px;

}

div.d2s1 h1 {
    text-indent: 10px;
    color: black;
    font-size: 35px;


}

div.d2s1 h2 {
    font-size: 24px;
    color: black;


}

div.d2s1 h3 {
    width: 230px;
    font-size: 24px;
    color: black;


}

div.d2s1 p {

    color: black;


}

div.d2s1 a {

    color: black;
    color: rgba(0, 0, 255, 0.72);

}

/* ---------------------section 2------------------- */
div.sf2 {

    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
    background-size: cover;
    background-image: url(../AutoClub/imagens/Background\ footer.png);

}

.sf2 img#i1 {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    top: 365px;
    left: 10px;
}

.sf2 img#i2 {
    color: white;
    top: 130px;
    left: 10px;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

.d1s2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 100px;
    width: 500px;
    height: 500px;
    background-color: rgb(208, 31, 31);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.510);
}


button {
    width: 400px;
    margin-top: 50px;
    font-size: 30px;
    border: 3px solid white;
    background-color: rgb(208, 31, 31);
    padding: 10px;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.06);
    color: black;
    transition: 0.6s;
}


.d1s2 p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;

}

.d2s2 {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.487);
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 25px;
    width: 500px;
    height: 550px;

}

.d2s2 img {
    box-sizing: border-box;
    margin: 0;
    width: 165px;
    height: 80px;
    object-fit: cover;
}

/* .d2s2 img:hover {
    cursor: pointer;
    translate: -3% -3%;
    transition: 0.6s;
    
} */

.d2s2 h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
}

.d2s2 h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.d2s2 p {
    font-size: 14px;

}

.colunas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;


}

.d2s2 h4 {
    font-size: 15px;
    text-align: center;

}



.d3s2 {

    bottom: 30px;
    position: relative;
    width: 500px;
    height: 500px;
   
}

.d3s2 .logo {
    box-sizing: border-box;
    width: 185px;

}

.icone {
    position: relative;
    top: 170px;
    left: 55px;
    box-sizing: border-box;
    margin: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.cc {
    width: 256px;
    height: 228px;
    /* border: 1px solid purple; */
    top: 59px;
    left: 119px;
    position: relative;
}

#seta {
    position: absolute;
    bottom: 458px;
    width: 205px;
    left: 297px;
}

#seta:hover {
    
    scale: 1.1;
    transition: 0.4s;
}
#mcaf {
    position: absolute;
    top: 277px;
    width: 400px;
    left: 158px;
    object-fit: cover;
}
#gsf  {
    margin-right: 10px;
    position: absolute;
    top: 328px;
    width: 400px;
    left: 149px;
    object-fit: cover;

}
#cs {
    position: absolute;
    top: 327px;
    width: 401px;
    right: 145px;
    object-fit: cover;
}