@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}


/* -------------------scroll bar ------------------ */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(64, 57, 57);
    border-radius: 0px;
}


/* ------------------------------------- */

header {
    background-color: rgb(56, 53, 53);
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    font-family: poppins;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;

}

a:hover {
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    transition: 0.3s;

}

.login a:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.27);
    /* border-bottom: 1px solid white; */
    transition: 0.4s;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {

    display: flex;
    list-style: none;
    font-size: 25px;

}

li {
    border-bottom: 0px solid white;
    letter-spacing: 3px;
    margin-left: 32px;
}

.logo {
    box-sizing: border-box;
    width: 145px;
    position: absolute;
    left: 35px;
    font-size: 2em;
}

div.login {
    position: absolute;
    display: flex;
    padding: 10px;
    right: 50px;
}

h3 {
    padding: 10px;
}

/* Estilo da barra */
.bar {
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.6s ease;
}


.login {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;

}


.login h3 {
    margin: 0 20px;
    position: relative;
    z-index: 1;
}

/* ---------------- */

/* -----------------Section#1------------------------------- */
main {}

section#s1 {
    font-family: poppins;
    height: 770px;

}

.carro1 {
    /*  width: 500px; */
    border: 3px solid rgb(213, 18, 18);
}

.carro2 {
    /*  height: 500px;
    width: 500px; 
    position: relative;*/
    border: 3px solid rebeccapurple;
}


#s1 h1 {

    font-size: 3.5em;



}

#s1 p {

    font-size: 1.5em;
}

img#imgc1 {}

img#imgc2 {
    width: 100px;
    height: 100px;
}

/* -------------------------Section#2------------------------------ */
section#s2 {
    width: 100%;
    height: 1150px;

}


h2 {
    font-family: poppins;
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    padding: 14px;
    font-size: 2.5em;
    background-color: rgb(218, 99, 8);
    top: 45px;
}

.container {
    background-color: rgb(56, 53, 53);
    height: 300px;
    text-align: center;

}

.cb {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15px;

}

div.cb p {
    color: rgb(255, 255, 255);
    position: relative;
    right: 138px;
    top: 115px;
}

/* ------- */
p#pf {
    right: 120px;
}

p#ps {
    right: 145px;
}

/* --------*/
.bolotas {
    display: inline-block;
    position: relative;
    top: 50px;
    margin-right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;

}

.bolotas:hover {
    transition: 0.3s;
    transform: scale(1.1);
    /*  transform: translate(-5px, -5px); */



}

.container p {
    color: rgb(255, 255, 255);


}


.ipt {
    margin-top: 50px;
    text-align: center;
}


input {
    /*     display: block;
    margin: 100px auto 0 auto; */
    height: 24px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 20px;
    width: 550px;
    background-color: rgb(50, 47, 47);
    color: white;
}

.material-symbols-outlined {
    position: relative;
    color: white;
    top: 7px;
    right: 45px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

div.cp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-top: 100px;
}

.peças {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    margin: 50px;
    background-color: rgb(56, 53, 53);

}

.peças p {
    color: rgb(0, 0, 0);
    position: relative;
    top: 190px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

/* --------------------------------Section#3--------------------------------- */

section#s3 {

    color: white;
    padding: 0px;
    height: 520px;
    background-color: rgb(47, 46, 46);



}

.ds3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 400px;
    background-color: rgb(218, 99, 8);
    margin-top: 10px;
    margin-bottom: 20px;

}

.ds3-item {

    padding: 20px;
    height: 100%;
    width: 30%;
    box-sizing: border-box;
}

#s3 h1 {
    padding: 0px;
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
    font-family: poppins;

}

#s3 h2 {
    top: 10px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;

}

#s3 p {

    color: rgba(255, 255, 255, 0.897);
    position: relative;

    font-size: 2em;
    text-align: center;

}

/* ----------------------------footer-------------------------------------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: white;
    height: 400px;
    background-color: rgb(207, 21, 52);
}